<div id="body">
    <h1>Privacy Policy</h1>
    The Social Events is using Internet connection in order to provide to the client updated information.
    The Social Events does not share any personal information.
</div>
